<%- include('partials/header'); %>
<h1 class="fw-bold">Add Post by going to /compose </h1>
<br>
<br>
<% posts.forEach(element=> { %>
    <h5 class="fw-bold"> <%=element.title%> </h5>
    <p> <%=element.body%> </p>
     <% });%>
 <%- include('partials/footer'); %> 
