*{
    font-family: 'Lexend Deca', sans-serif!important;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
nav{
    background: #a63838!important;
}
.navbar-default .navbar-nav>li>a {
    color: white!important;
}
.navbar-brand{
    color: white!important;
}
h5{
    font-size: 24px;
}
p{
    font-size: 15px;
    font-weight: 300;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.navbar-brand a{
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-weight: 600;
}
.newBlog{
    padding-top: 0%!important;
}
.postHeading{
    font-size: 37px!important;
    font-weight: 700;
}
.postContent{
    font-size: 16px;
    text-indent: 4px;
}
.homeHeading{
    font-weight: 700;
    margin-top: 38px;
}
.postBox {
    background: #f1f1f1;
    padding: 15px;
    border-radius: 8px;
    filter: drop-shadow(1px 1px 1px grey);
}
.postBox h5 {
    font-size: 25px;
    font-weight: 600;
}
.postBox a {
    background: #fe1c1c;
    padding: 4px;
    color: white;
    border-radius: 2px;
}
.postBox hr{
    height: 1px;
    background: #c4c4c4;
}
.footer-padding {
	padding-bottom: 60px;
}

.footer {
    display: flex;
    justify-content:center;
    align-items: center;
	width: 100%;
	height: 60px;
	background-color: #a63838;
}

.footer p {
	
	font-size: 12px;
  color: #fff;
  
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 300;
  letter-spacing: 1.6px;

}
.height{
	height: 70.5vh;

}

.btn{
    margin-top: 10px;
}